* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --shoes-background-color: #f3f7ff;
  --jordanbg-text-color: #fffffffd;
  --main-text-color: #121214;
  --tenis-air-jordan-color: #7ca2f4;

  --main-font-family: "Archivo", sans-serif;
  --secondary-font-family: "Space Grotesk", sans-serif;
}

.container {
  width: 60vw;
  margin: 0 auto;
}

body {
  color: var(--main-text-color);
  overflow-x: hidden;
}

/* alterações padrões do cabeçalho */
header {
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header .frete {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 15px;

  margin-bottom: 10px;
}

/* Anuncio da Marca */
header .jordan {
  width: 100vw;
  height: 40vh;

  background: url("./assets/jordan.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  color: var(--jordanbg-text-color);

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

/* definindo o espaço utilizado pelo texto */
header .jordan > section {
  margin: 0 auto;
  width: 60vw;
}

header .jordan section .logo {
  display: flex;
  align-items: center;
  gap: 5px;

  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 15px;
}

header section .logo img {
  width: 35px;
}

header section .merchandising {
  width: 70%;

  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  font-family: var(--main-font-family);
}

.merchandising h3 {
  font-weight: 500;
  font-size: 20px;
}

.merchandising p {
  width: 60%;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

/* adicionando os cards dos sapatos */
main {
  margin: 30px 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

main .announcement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 4px;

  margin: 10px 0;
  width: 80%;
}

main .announcement h3 {
  font-family: var(--main-font-family);
  font-size: 22px;
  font-weight: 600;
}

main .announcement p {
  font-family: Archivo;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  line-height: 1.3;
}

main .cards {
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 6px;
  margin-bottom: 20px;

  width: 285px;
  height: 220px;
}

main .cards img {
  background-color: var(--shoes-background-color);
  width: 100%;
}

main .cards h5 {
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: 500;

  margin-top: 5px;
  margin-left: 2px;
}

main .cards p {
  font-family: var(--main-font-family);
  font-size: 13.5px;
  font-weight: 500;
  color: var(--tenis-air-jordan-color);

  margin-left: 2px;
}

main .cards span {
  font-family: var(--secondary-font-family);
  font-size: 14px;
  font-weight: 500;

  margin-left: 2px;
}
